# Ignore macOS system files
.DS_Store

# Ignore Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc.so

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore Python virtual environments
venv/
*.venv
.env

# Ignore Docker files
Dockerfile
*.dockerignore